* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainBlueFrame {
    background-color: #E8EEFF;
    max-width: 1812px;
    width: 100%;
    margin: auto;
    margin-top: 64px;
    padding: 96px;
    margin-bottom: 154px;
}

#mainHeader h1 {
    color: #181D27;
    text-align: center;
    font-size: 72px;
}

#mainHeader p {
    color: #535862;
    text-align: center;
    ;
    font-size: 20px;
}

#mainHeader {
    width: 864px;
    margin: auto;
    margin-top: 96px;
    margin-bottom: 64px
}

#blueAnalytics {
    color: #05F;
    font-family: Inter;
    font-size: 72px;
}

#purpleSmarter {
    color: #6941C6;
    text-decoration-line: underline;
    font-size: 72px;
}

#mainAnalyticPic img {
    width: 1200px;
}

#mainAnalyticPic {
    text-align: center;
    margin-bottom: 64px;
}

#teamInboxes {
    border-radius: 8px;
    background: #FFF;
    width: 417px;
    padding: 16px;
}

#teamInboxes,
#answersFrame {
    width: 300px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    margin-right: 24px;
}

#teamReports {
    width: 300px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
}

#whiteFrames {
    text-align: center;
    height: 200px;
    display: inline-block;
    max-width: 1712px;
    width: 100%;
}

#teamInboxes img {
    margin-bottom: 20px;
}

#teamInboxes h3 {
    color: #181D27;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

#teamInboxes {
    color: #535862;
    text-align: center;
    font-size: 16px;
    width: 424px;
}

#answersFrame {
    border-radius: 8px;
    background: #FFF;
    width: 417px;
    padding: 16px;
}

#answersFrame img {
    margin-bottom: 20px;
}

#answersFrame h3 {
    color: #181D27;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

#answersFrame {
    color: #535862;
    text-align: center;
    font-size: 16px;
    width: 424px;
}

#teamReports {
    border-radius: 8px;
    background: #FFF;
    width: 417px;
    padding: 16px;
}

#teamReports img {
    margin-bottom: 20px;
}

#teamReports h3 {
    color: #181D27;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

#teamReports {
    display: inline-block;
    color: #535862;
    text-align: center;
    font-size: 16px;
}

#purpleFrame {
    border-radius: var(--radius-4xl, 24px);
    background: #53389E;
    max-width: 1089px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 660px;
}
#womenPicture img {
    text-align: right;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 481px;
}

#womenPicture {
    max-width: 480px;
    display: inline-block;
    height: 400px;
}

#textAndButton {
    display: inline-block;
    width: 604px;
    height: 400px;
    vertical-align: top;
    margin: auto;
    padding: 84px;
}

#content h2 {
    color: #FFF;
    font-size: 36px;
    margin-bottom: 20px;
}

#content p {
    color: #E9D7FE;
    font-size: 20px;
    margin-bottom: 48px;
}

#learn {
    border-radius: 8px;
    border: 1px solid #D5D7DA;

    background: #FFF;
    padding: 12px 18px;
    color: #414651;
    font-size: 16px;
}

#starting {
    border-radius: var(--radius-md, 8px);
    border: 2px solid #FFF;

    background: #7F56D9;
    padding: 12px 18px;
    margin-left: 6px;
    color: #FFF;
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);

}